apiVersion: apps/v1
kind: Deployment
metadata:
  name: integration-deployment
spec:
  replicas: 1
  selector:
    matchLabels:
      app: integration
  template:
    metadata:
      labels:
        app: integration
    spec:
      containers:
      - name: integration
        image: localhost:8083/integration:1.0
        ports:
        - containerPort: 8080
